<template>
    <div>
        <div
            :class="{ error: v$[field].$invalid, dirty: v$[field].$dirty, valid: v$[field].$errors?.length < 1 }"
        >
            <div class="mb-3 xl:w-96">
                <label
                    for="exampleFormControlInput1"
                    class="form-label inline-block mb-2 text-gray-700"
                >{{ label }}</label>
                <AtomTextarea
                    v-if="type == 'textarea'"
                    :type="type"
                    :placeholder="placeholder"
                    :value="modelValue"
                    @blur="v$[field].$touch"
                    @input="onChange"
                    class="input"
                ></AtomTextarea>
                <AtomSelect
                    v-else-if="type == 'select' && options"
                    :value="modelValue"
                    @blur="v$[field].$touch"
                    @input="onChange"
                    class="input"
                    :options="options"
                ></AtomSelect>
                <AtomInput
                    v-else
                    :type="type"
                    :placeholder="placeholder"
                    :value="modelValue"
                    @blur="v$[field].$touch"
                    @input="onChange"
                    class="input"
                ></AtomInput>
            </div>
        </div>
    </div>
</template>
<script setup lang="ts">
import Select from '../atom/Select.vue';
const props = defineProps<{
    label: String,
    placeholder: string,
    type: 'text' | 'number' | 'textarea' | 'select',
    v$: Object,
    field: string,
    options?: Array<{value: string | number, title: string}>
}>();

const modelValue = ref('');

const emit = defineEmits(['update:modelValue']);

const onChange = (event: Event) => {
    const target = event.target as HTMLInputElement;
    emit('update:modelValue', target.value)
}
</script>
<style scoped lang="scss">
.error.dirty {
    .input {
        @apply border-red-800;
        border-color: #f00;
    }
}
</style>