<template>
    <div class="flex flex-col min-h-screen">
        <Navbar />
        <slot />
        <Footer />
    </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import Navbar from "../components/organism/Navbar.vue";
import Footer from "../components/organism/Footer.vue";

export default defineComponent({
    components: {
        Navbar,
        Footer,
    },
    setup() {
        return {};
    },
});
</script>

<style scoped></style>
