<template>
  <input
    :type="type"
    :placeholder="placeholder"
    :class="{ input: isInputClass, radio: isRadioClass }"
    :value="modelValue"
    @input="onChange"
    :checked="isModelSelected"
    :name="modelName"
    :accept="modelAccept"
  />
</template>

<script setup lang="ts">
const props = defineProps<{
  type: string;
  placeholder?: string;
  modelValue?: string;
  isModelSelected?: boolean | string;
  modelName?: string;
  modelAccept?: string;
}>();
const emit = defineEmits(["update:modelValue"]);

const isInputClass = props.type === "text";
const isRadioClass = props.type === "radio";

const onChange = (event: Event) => {
  const target = event.target as HTMLInputElement;
  emit("update:modelValue", target.value);
};
</script>
<style lang="scss" scoped>
.input {
  @apply py-2 px-3 rounded-lg border-secondary border w-full;
}
.radio {
  @apply py-2 px-3 rounded-lg border-secondary border w-8;
}
</style>