<template>
  <textarea
    :placeholder="placeholder"
    class="input"
    :value="modelValue"
    @input="onChange"
  ></textarea>
</template>

<script setup lang="ts">
const props = defineProps<{
  placeholder: string;
  modelValue?: string;
}>();

const emit = defineEmits(["update:modelValue"]);

const onChange = (event: Event) => {
  const target = event.target as HTMLInputElement;
  emit("update:modelValue", target.value);
};
</script>
<style lang="scss" scoped>
.input {
  @apply py-2 px-3 rounded-lg border-secondary border w-full;
}
</style>