<template>
    <div class="company-details">
        <AtomHeadline type="h4" text="Company Details" />
        <MoleculeInputField
            inputHeader="Company Name"
            :inputValue="companyName"
            @handle-input-change="setCompanyName"
            class="job-title"
        />
        <MoleculeInputField
            inputHeader="Website (optional)"
            :inputValue="website"
            @handle-input-change="setWebsite"
            class="website"
        />
        <MoleculeInputField
            inputHeader="Tagline (optional)"
            :inputValue="tagline"
            @handle-input-change="setTagline"
            class="tagline"
        />
        <MoleculeInputField
            inputHeader="Twitter username (optional)"
            :inputValue="twitterUsername"
            @handle-input-change="setTwitterUsername"
            class="twitter-username"
        />
        <div class="input-field">
            <p class="input-header">Company logo (optional)</p>
            <input
                @change="onLogoUpload"
                type="file"
                placeholder="Choose a file"
                class="atom-input"
            />
            {{ logo }}
        </div>
    </div>
</template>

<script lang="ts" setup>
import { ref } from "vue";

const companyName = ref("");
const website = ref("");
const tagline = ref("");
const twitterUsername = ref("");
const logo = ref(null);

const setCompanyName = (value) => (companyName.value = value);
const setWebsite = (value) => (website.value = value);
const setTagline = (value) => (tagline.value = value);
const setTwitterUsername = (value) => (twitterUsername.value = value);
const onLogoUpload = (event) => {
    logo.value = event.target.files[0];
};
</script>

<style lang="scss" scoped>
.company-details {
    @apply pb-4;
}
.website {
    @apply pt-2;
}
.job-title {
    @apply pt-2;
}
.tagline {
    @apply pt-2;
}
.twitter-username {
    @apply py-2;
}
.input-field {
    @apply lg:flex lg:items-center;
}
.input-header {
    @apply pb-1 lg:pr-2;
}
.atom-input {
    @apply lg:max-w-xl;
}
</style>
