<template>
    <div class="job-list mx-auto md:px-0 px-2">
        <AtomHeadline type="h1" text="Recent jobs"></AtomHeadline>
        <p
            class="text-xl my-2 font-extralight"
        >Showing {{ jobs?.length }} of {{ pageable?.totalElements }} available jobs</p>
        <div>
            <AtomInput type="text" placeholder="Title" v-model="titleSearch"></AtomInput>
        </div>
        <MoleculeJobListItem v-for="job in jobs" :key="job?.id" :job="job"></MoleculeJobListItem>
        <AtomButton class="mt-2 w-full" content="Load more" type="primary" @click="loadJobs"></AtomButton>
    </div>
</template>

<script lang="ts" setup>
import useDebouncedRef from '~/composables/debounce';

const config = useRuntimeConfig();
const props = defineProps<{
    size: Number
}>();

const pageable = ref({ totalElements: 0 });
const currentPage = ref(-1)
const jobs = ref([]);
const titleSearch = useDebouncedRef("", 500);

watch(titleSearch, async (newValue: String) => {
    currentPage.value = 0;
    pageable.value = { totalElements: 0 };
    jobs.value = [];
    await loadJobs();
})

const loadJobs = async () => {

    // construct query params
    let queryParams = `page=${currentPage.value}&size=${props.size}&sort=id,DESC`;
    if (titleSearch.value.length > 0) {
        queryParams += `&title=${titleSearch.value}`
    }

    currentPage.value++;
    console.log(`${config.apiUrl}/jobs?${queryParams}`);

    const { data } = await useFetch(`${config.apiUrl}/jobs?${queryParams}`, { headers: { accept: 'application/json' } });
    pageable.value = data.value?.['page'];
    jobs.value = jobs.value.concat(data.value?._embedded.jobList);
}

await loadJobs();
</script>
<style lang="scss" scoped>
.job-list {
    max-width: 600px;
}
</style>