<template>
    <div class="page-size">
        <div class="mt-2">
            <div class="text-center">
                <AtomHeadline type="h1" text="Manage Jobs"></AtomHeadline>
            </div>
            <div class="p-4 my-2 bg-slate-50 h-85 rounded-lg">
                <p class="text-base font-bold text-left">
                    Thank you for registering an account
                </p>

                <p class="text-base font-medium text-left">
                    Please check your email for further instructions on how to
                    manage your login details.
                    <br />
                    <br />
                    If you have just saved a draft, you can log in at any time
                    to edit and post your job.
                    <br /><br />
                    If you’ve just posted a job, please check back here to let
                    us know when the position has been filled,this helps us keep
                    the opportunities fresh and stops you from receiving
                    unnecessary applications!
                </p>
            </div>
            <div class="mt-4 text-center">
                <AtomButton
                    class="mt-4 py-3 w-full"
                    content="Post a new Job"
                    type="primary"
                />
            </div>
        </div>

        <div class="job-list mx-auto mt-8">
            <AtomHeadline type="h1" text="YOUR JOB POSTINGS"></AtomHeadline>
            <p class="text-xl my-2 font-extralight">
                Showing {{ jobs?.length }} of
                {{ pageable?.totalElements }} available jobs
            </p>
            <MoleculeManageJobsItem
                v-for="job in jobs"
                :key="job?.id"
                :job="job"
            ></MoleculeManageJobsItem>

            <br />
            <br />
            <AtomButton
                class="btn-width"
                content="Search for a Job"
                type="primary"
                @click="loadJobs"
            ></AtomButton>
            <br />
            <AtomHeadline type="h1" text="YOUR DRAFTS"></AtomHeadline>
            <div class="p-4 my-2 bg-slate-50 h-85">
                <p class="text-base font-bold text-left">
                    You have no saved drafts to show
                </p>
            </div>
        </div>
    </div>
</template>
<script>
import { ref } from "vue";
const recentSearches = ref([
    {
        id: "absa929",
        keywords: "Accountant, Scientist",
        languages: "English, German",
        distance: 100,
        location: "Frankfurt",
    },
]);

export default {
    data() {
        return {
            jobs: [
                {
                    createdAt: new Date("04/21/2022"),
                    title: "UI Designer",
                    id: 1,
                    details: "Pune",
                    jobType: "Free Lancing",
                    address: { town: "Pune", country: "India" },
                },
                {
                    createdAt: new Date("03/30/2022"),
                    title: "Developer",
                    id: 2,
                    details: "Pune",
                    jobType: "Part time-No Work Experience Necessary",
                    address: { town: "Mumbai", country: "India" },
                },
                {
                    createdAt: new Date(),
                    title: "Product Manager",
                    id: 3,
                    details: "Pune",
                    jobType: "Full-time Students can apply",
                    address: { town: "Delhi", country: "India" },
                },
            ],
        };
    },
};
</script>
<style lang="scss" scoped>
.job-list {
    max-width: auto;
}
.btn-width {
    width: 1000px;
    text-align: center;
    margin: auto;
    position: fixed;
    display: flex;
}
</style>
