<template>
    <div class="p-4 lg:w-9/12 mx-auto">
        <AtomHeadline class="text-secondary" type="h1" text="Job Preview" />
        <div class="flex justify-between mt-2">
            <div class="flex justify-center items-center">
                <img
                    class="h-20 rounded-full"
                    src="https://res.cloudinary.com/codeamphi/image/upload/v1640847269/profile-placeholder_s1biy6.png"
                />
            </div>
            <div class="w-4/6">
                <AtomHeadline type="h3" text="Job Title" />
                <ul class="text-base">
                    <li>
                        <p>Classification</p>
                    </li>
                    <li>
                        <p>Location, Country</p>
                    </li>
                    <li>
                        <p>Part-time</p>
                    </li>
                    <ul class="text-base mt-2">
                        <li>
                            <p>Company Name</p>
                        </li>
                        <li>
                            <p>www.companywebsite.com</p>
                        </li>
                    </ul>
                </ul>
            </div>
        </div>
        <div>
            <div class="mt-2">
                <AtomHeadline type="h4" text="Minimum language requirements:" />
                <ul class="text-base list-disc px-4">
                    <li>
                        <p>English (simple)</p>
                    </li>
                    <li>
                        <p>українська</p>
                    </li>
                </ul>
            </div>
            <div class="mt-2">
                <AtomHeadline type="h4" text="Qualifications" />
                <ul class="text-base list-disc px-4">
                    <li>
                        <p>Students can apply</p>
                    </li>
                </ul>
            </div>
            <div class="mt-2">
                <AtomHeadline type="h4" text="Job Description" />
                <p>
                    Donec ullamcorper nulla non metus auctor fringilla. Nulla
                    vitae elit libero, a pharetra augue. Aenean lacinia bibendum
                    nulla sed consectetur. Donec ullamcorper nulla non metus
                    auctor fringilla. Fusce dapibus, tellus ac cursus commodo,
                    tortor mauris condimentum nibh, ut fermentum massa justo sit
                    amet risus. Etiam porta sem malesuada magna mollis euismod.
                </p>
            </div>
            <div class="mt-2">
                <AtomHeadline type="h4" text="We can offer you" />
                <p>
                    Nullam id dolor id nibh ultricies vehicula ut id elit. Donec
                    sed odio dui. Morbi leo risus, porta ac consectetur ac,
                    vestibulum at eros.
                </p>
                <ul class="text-base list-disc px-8">
                    <li>
                        <p>Cum sociis natoque penatibus et magnis</p>
                    </li>
                    <li>
                        <p>Maecenas sed diam eget risus</p>
                    </li>
                    <li>
                        <p>
                            Vestibulum id ligula porta felis euismoddis Maecenas
                            sed diam eget risus Vestibulum id ligula porta felis
                            euismod
                        </p>
                    </li>
                </ul>
            </div>
            <div class="mt-2">
                <AtomHeadline type="h4" text="Responsibilities" />
                <p>
                    Nullam id dolor id nibh ultricies vehicula ut id elit. Donec
                    sed odio dui. Morbi leo risus, porta ac consectetur ac,
                    vestibulum at eros.
                </p>
                <ul class="text-base list-disc px-8">
                    <li>
                        <p>Cum sociis natoque penatibus et magnis</p>
                    </li>
                    <li>
                        <p>Maecenas sed diam eget risus</p>
                    </li>
                    <li>
                        <p>
                            Vestibulum id ligula porta felis euismoddis Maecenas
                        </p>
                    </li>
                    <li>
                        <p>Praesent placerat risus quis eros.</p>
                    </li>
                    <li>
                        <p>Nunc dignissim risus id metus.</p>
                    </li>
                </ul>
            </div>
            <div class="mt-4 lg:flex justify-around">
                <AtomButton
                    class="mt-2 py-3 w-full lg:w-52"
                    content="Edit Posting"
                    type="secondary"
                />
                <AtomButton
                    class="mt-2 py-3 w-full lg:w-52"
                    content="Save as Draft"
                    type="secondary"
                />
                <NuxtLink to="/post-job/ManageJobs">
                    <AtomButton
                        class="mt-2 py-3 w-full lg:w-52"
                        content="Publish this Job"
                        type="secondary"
                    />
                </NuxtLink>
            </div>
            <div class="mt-2">
                <div class="form-check">
                    <input
                        class="form-check-input h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                    />
                    <label
                        class="form-check-label text-xs inline-block text-gray-800"
                        for=""
                    >
                        I agree to the Terms & Conditions and Privacy Policy.
                    </label>
                </div>
                <div class="form-check">
                    <input
                        class="form-check-input h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                        type="checkbox"
                        value=""
                        id="flexCheckChecked"
                    />

                    <label
                        class="form-check-label text-xs inline text-gray-800"
                        for=""
                    >
                        Please update me with news and other media related to
                        this site.
                    </label>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts"></script>

<style scoped></style>
